<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        {% for carousel in carousel_list %}
            <div class="item {% if forloop.first %}active{% endif %}">
                <a href="{% if carousel.category %}
                        {% url catalog.views.category carousel.category.slug %}{% elif carousel.product %}
                        {% url catalog.views.product carousel.product.slug %}{% endif %}">
                    <img src="{{ MEDIA_URL }}{{ carousel.image }}" alt="{{ carousel.description }}">
                    {% if carousel.description %}
                        <div class="carousel-caption">
                            <p>{{ carousel.description }}</p>
                        </div>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>