{% extends "base.html" %}
{% block title %} {{ current_category }} {% endblock %}
{% block content %}
    <div class="row">
        <div class="span12">
            <h1> Product comparison</h1><br>

            <table class="table table-bordered table-striped product_comparison">
                <thead>
                <tr>
                    <th></th>
                    <th>
                        <div class="thumbnail">
                            <a href="product.html"><img alt="" src="http://placehold.it/220x180"></a>

                            <div class="caption">
                                <a href="product.html"><h5>iPod Touch</h5></a><br>

                                <div class="product_stars">
                                    <div class="star-rating star-rating-hover"><a title="on">on</a></div>
                                    <div class="star-rating star-rating-hover"><a title="on">on</a></div>
                                    <div class="star-rating star-rating-hover"><a title="on">on</a></div>
                                    <div class="star-rating star-rating-hover"><a title="on">on</a></div>
                                    <div class="star-rating"><a title="on">on</a></div>
                                    <br>
                                    <small><a href="#">(7 reviews)</a></small>
                                </div>
                                <p></p>

                                <p><a href="#"> Price: $50.00</a></p>

                                <p><a class="btn btn-primary" href="cart.html">Add to cart</a></p>

                                <p>
                                    <small><a href="#">Add to Wish List</a></small>
                                </p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="thumbnail">
                            <a href="product.html"><img alt="" src="http://placehold.it/220x180"></a>

                            <div class="caption">
                                <a href="product.html"><h5>iPod Touch</h5></a><br>

                                <div class="product_stars">
                                    <div class="star-rating star-rating-hover"><a title="on">on</a></div>
                                    <div class="star-rating star-rating-hover"><a title="on">on</a></div>
                                    <div class="star-rating star-rating-hover"><a title="on">on</a></div>
                                    <div class="star-rating star-rating-hover"><a title="on">on</a></div>
                                    <div class="star-rating"><a title="on">on</a></div>
                                    <br>
                                    <small><a href="#">(7 reviews)</a></small>
                                </div>
                                <p></p>

                                <p><a href="#"> Price: $50.00</a></p>

                                <p><a class="btn btn-primary" href="cart.html">Add to cart</a></p>

                                <p>
                                    <small><a href="#">Add to Wish List</a></small>
                                </p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="thumbnail">
                            <a href="product.html"><img alt="" src="http://placehold.it/220x180"></a>

                            <div class="caption">
                                <a href="product.html"><h5>iPod Touch</h5></a><br>

                                <div class="product_stars">
                                    <div class="star-rating star-rating-hover"><a title="on">on</a></div>
                                    <div class="star-rating star-rating-hover"><a title="on">on</a></div>
                                    <div class="star-rating star-rating-hover"><a title="on">on</a></div>
                                    <div class="star-rating star-rating-hover"><a title="on">on</a></div>
                                    <div class="star-rating"><a title="on">on</a></div>
                                    <br>
                                    <small><a href="#">(7 reviews)</a></small>
                                </div>
                                <p></p>

                                <p><a href="#"> Price: $50.00</a></p>

                                <p><a class="btn btn-primary" href="cart.html">Add to cart</a></p>

                                <p>
                                    <small><a href="#">Add to Wish List</a></small>
                                </p>
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Description</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper, est et tincidunt
                        hendrerit, purus felis ornare ante, et commodo sapien ipsum sit amet elit.
                    </td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper, est et tincidunt
                        hendrerit, purus felis ornare ante, et commodo sapien ipsum sit amet elit.
                    </td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper, est et tincidunt
                        hendrerit, purus felis ornare ante, et commodo sapien ipsum sit amet elit.
                    </td>
                </tr>
                <tr>
                    <td>SKU</td>
                    <td>LX.FR206.001</td>
                    <td>LX.FR206.001</td>
                    <td>LX.FR206.001</td>
                </tr>
                <tr>
                    <td>Manufacturer</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>Silver</td>
                    <td>Black</td>
                    <td>Blue</td>
                </tr>
                <tr>
                    <td>In Depth</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Pellentesque semper, est et
                        tincidunt hendrerit, purus felis ornare ante, et commodo sapien ipsum sit amet elit.
                    </td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Pellentesque semper, est et
                        tincidunt hendrerit, purus felis ornare ante, et commodo sapien ipsum sit amet elit.
                    </td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Pellentesque semper, est et
                        tincidunt hendrerit, purus felis ornare ante, et commodo sapien ipsum sit amet elit.
                    </td>
                </tr>
                <tr>
                    <td>Dimensions</td>
                    <td>4.2 x 2 x 0.6 inches</td>
                    <td>4.2 x 2 x 0.6 inches</td>
                    <td>4.2 x 2 x 0.6 inches</td>
                </tr>
                <tr class="price_summary">
                    <td>&nbsp;</td>
                    <td>
                        <p><a href="#"> Price: $50.00</a></p>

                        <p><a class="btn btn-primary" href="cart.html">Add to cart</a></p>

                        <p>
                            <small><a href="#">Add to Wish List</a></small>
                        </p>
                    </td>
                    <td>
                        <p><a href="#"> Price: $50.00</a></p>

                        <p><a class="btn btn-primary" href="cart.html">Add to cart</a></p>

                        <p>
                            <small><a href="#">Add to Wish List</a></small>
                        </p>
                    </td>
                    <td>
                        <p><a href="#"> Price: $50.00</a></p>

                        <p><a class="btn btn-primary" href="cart.html">Add to cart</a></p>

                        <p>
                            <small><a href="#">Add to Wish List</a></small>
                        </p>
                    </td>

                </tr>
                <tr class="price_summary error">
                    <td>&nbsp;</td>
                    <td><a href="#" class="error">Remove</a></td>
                    <td><a href="#" class="error">Remove</a></td>
                    <td><a href="#" class="error">Remove</a></td>
                </tr>
                </tbody>
            </table>
            <footer>
                <hr>
                <div class="row well no_margin_left">

                    <div class="span3">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="two-column.html">About Us</a></li>
                            <li><a href="typography.html">Delivery Information</a></li>
                            <li><a href="typography.html">Privacy Policy</a></li>
                            <li><a href="typography.html">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                    <div class="span3">
                        <h4>Customer Service</h4>
                        <ul>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="typography.html">Returns</a></li>
                            <li><a href="sitemap.xml">Site Map</a></li>
                        </ul>
                    </div>
                    <div class="span3">
                        <h4>Extras</h4>
                        <ul>
                            <li><a href="typography.html">Brands</a></li>
                            <li><a href="typography.html">Gift Vouchers</a></li>
                            <li><a href="typography.html">Affiliates</a></li>
                            <li><a href="typography.html">Specials</a></li>
                        </ul>
                    </div>
                    <div class="span2">
                        <h4>My Account</h4>
                        <ul>
                            <li><a href="my_account.html">My Account</a></li>
                            <li><a href="typography.html">Order History</a></li>
                            <li><a href="typography.html">Wish List</a></li>
                            <li><a href="typography.html">Newsletter</a></li>
                        </ul>
                    </div>

                </div>
            </footer>
        </div>
    </div>

{% endblock %}

