{% extends "base.html" %}
{% load humanize %}
{% block title %} {{ product }} {% endblock %}
{% block content %}
    <div class="row simpleCart_shelfItem" itemscope itemtype="http://data-vocabulary.org/Product">
        <div class="span3">
            {% include "catalog/block/categories.html" %}
        </div>
        <div class="span9">
            {% include "catalog/block/breadcrumb.html" %}
            <div class="row">
                <div class="span9">
                    <h1 itemprop="name" class="item_name">{{ product.name }}</h1>
                    <input class="item_product" style="display: none" type="text" value="{{ product.pk }}" />
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="span3">
                    {% if product.image %}
                        <img itemprop="image" alt="{{ product.name }}" class="item_image" src="{{ MEDIA_URL }}{{ product.image }}"/>
                    {% else %}
                        <img alt="{{ product }}" class="item_image" src="http://placehold.it/220x220">
                    {% endif %}

                    <ul class="thumbnails">
                    {% for product_media in product.productmedia_set.all %}
                        <li class="span1">
                            <a href="#" class="thumbnail">
                                <img src="{{ MEDIA_URL }}{{ product_media.image }}" alt="">
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>

                <div class="span6">
                    <div class="span6">
                        <address>
                            <strong>Brand:</strong> <span itemprop="brand">Apple</span><br/>
                            <strong>Product Code:</strong> <span itemprop="identifier" content="mpn:{{ product.SKU }}">{{ product.SKU }}</span><br/>
                            <strong>Reward Points:</strong> <span>0</span><br/>
                            <strong>Availability:</strong> <span>Out Of Stock</span><br/>
                        </address>
                    </div>

                    <div itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer" class="span6">
                        <meta itemprop="currency" content="USD" />
                        <h2 itemprop="availability" content="in_stock">
                            <strong >Price: <span itemprop="price" class="item_price">${{ product.price|intcomma }}</span></strong>
                            <small>Ex Tax: $500.00</small>
                            <br/><br/>
                        </h2>
                    </div>

                    <div class="span6">
                        <form class="form-inline">
                            <div class="span3 no_margin_left">
                                <label>Qty:</label>
                                <input type="text" class="span1 item_Quantity" placeholder="1">
                                <button class="btn btn-primary item_add" type="button">Add to cart</button>
                            </div>
                            <div class="span1">
                                - OR -
                            </div>
                            <div class="span2">
                                <p><a href="#">Add to Wish List</a></p>

                                <p><a href="compare.html">Add to Compare</a></p>
                            </div>
                        </form>
                    </div>

                    <div class="span6">

                        <p>
                            <input name="star1" type="radio" class="star"/>
                            <input name="star1" type="radio" class="star"/>
                            <input name="star1" type="radio" class="star"/>
                            <input name="star1" type="radio" class="star"/>
                            <input name="star1" type="radio" class="star"/>&nbsp;&nbsp;

                            <a href="#">0 reviews</a> | <a href="#">Write a review</a></p>
                    </div>


                </div>


            </div>
            <hr>
            <div class="row">
                <div class="span9">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#1" data-toggle="tab">Description</a></li>
                            <li><a href="#2" data-toggle="tab">Reviews</a></li>
                            <li><a href="#3" data-toggle="tab">Related products</a></li>
                        </ul>
                        <div class="tab-content">
                            <div itemprop="description" class="tab-pane active" id="1">
                                {% autoescape off %}
                                {{ product.description }}
                                {% endautoescape %}
                            </div>
                            <div class="tab-pane" id="2">
                                <p>There are no reviews for this product.</p>
                            </div>
                            <div class="tab-pane" id="3">
                                <ul class="thumbnails related_products">

                                    <li class="span2">
                                        <div class="thumbnail">
                                            <a href="product.html"><img alt="" src="http://placehold.it/220x180"/></a>

                                            <div class="caption">
                                                <a href="product.html"><h5>iPod Touch</h5></a> Price:
                                                &#36;50.00<br/><br/>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="span2">
                                        <div class="thumbnail">
                                            <a href="product.html"><img alt="" src="http://placehold.it/220x180"/></a>

                                            <div class="caption">
                                                <a href="product.html"><h5>iPod Touch</h5></a> Price:
                                                &#36;50.00<br/><br/>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="span2">
                                        <div class="thumbnail">
                                            <a href="product.html"><img alt="" src="http://placehold.it/220x180"/></a>

                                            <div class="caption">
                                                <a href="product.html"><h5>iPod Touch</h5></a> Price:
                                                &#36;50.00<br/><br/>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="span2">
                                        <div class="thumbnail">
                                            <a href="product.html"><img alt="" src="http://placehold.it/220x180"/></a>

                                            <div class="caption">
                                                <a href="product.html"><h5>iPod Touch</h5></a> Price:
                                                &#36;50.00<br/><br/>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}